@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
  padding: 0 2em;
}
/*for Stars shape*/
@keyframes twinkle {
  0% { opacity: 0.3; }
  50% { opacity: 1; }
  100% { opacity: 0.3; }
}
.star {
  animation-name: twinkle;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

/*for Meteors shape*/
@keyframes meteorMove {
  0% { transform: translate(0, 0) rotate(45deg); opacity: 0; }
  10% { opacity: 1; }
  100% { transform: translate(500px, 500px) rotate(45deg); opacity: 0; }
}

.meteor {
  animation-name: meteorMove;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
/*for fade in*/
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease forwards;
}
.animate-fade-in-delay-1 {
  animation: fade-in 0.8s ease forwards;
  animation-delay: 0.5s;
}
.animate-fade-in-delay-2 {
  animation: fade-in 0.8s ease forwards;
  animation-delay: 1s;
}
/*navbar skills*/
@keyframes grow  {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(0.5);

  }
}

.animate-grow {
  animation: grow 1.5s ease-out forwards;
}
